{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Создать новую сатью</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}" class="btn btn-primary">К списку</a>
{% endblock %}
